In [1]:
import pandas as pd

In [2]:
empty_df = pd.DataFrame()
print(empty_df)

Empty DataFrame
Columns: []
Index: []

In [3]:
lst = ['a','b','c']
print(lst)

['a', 'b', 'c']

In [4]:
df1 = pd.DataFrame(lst)
print(df1)

   0
0  a
1  b
2  c

In [5]:
lst2d = [[1,2,3],[4,5,6]]
df2 = pd.DataFrame(lst2d)
print(df2)

   0  1  2
0  1  2  3
1  4  5  6

In [6]:
dict1 = {"Id":[101,102,103,104],"Name":["Rahul","Shivam","Guru","Professor"]}
dict1_df = pd.DataFrame(dict1)
print(dict1_df)

    Id       Name
0  101      Rahul
1  102     Shivam
2  103       Guru
3  104  Professor

In [7]:
dict_lst = [{"A":1,"B":3},{"A":5,"B":10},{"A":10,"B":15}]
dict_lst_df = pd.DataFrame(dict_lst)
dict_lst_df

    A   B
0   1   3
1   5  10
2  10  15

In [8]:
dict_lst = [{"A":1,"B":3,"C":7},{"A":5,"B":10},{"A":10,"B":15}]
dict_lst_df = pd.DataFrame(dict_lst)
dict_lst_df

    A   B    C
0   1   3  7.0
1   5  10  NaN
2  10  15  NaN

In [9]:
dict_sr = {"ID":pd.Series([101,102,103]),"SNO.":[1,2,3]}
dict_sr_df = pd.DataFrame(dict_sr)
dict_sr_df

    ID  SNO.
0  101     1
1  102     2
2  103     3