In [1]:
import pandas as pd

In [2]:
lst = [3,5,6,87,86,4,3.3,"rahul"]
print(lst)

[3, 5, 6, 87, 86, 4, 3.3, 'rahul']

In [3]:
series1 = pd.Series(lst)
print(series1)
type(series1)

0        3
1        5
2        6
3       87
4       86
5        4
6      3.3
7    rahul
dtype: object

pandas.core.series.Series

In [4]:
series2 = pd.Series([3,4,5,6])
print(series2)

0    3
1    4
2    5
3    6
dtype: int64

In [5]:
empty_s = pd.Series([])
print(empty_s)

Series([], dtype: float64)

C:\Users\DELL\AppData\Local\Temp\ipykernel_2036\3878301290.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s = pd.Series([])

In [6]:
series3 = pd.Series([9,5,3,3],index = ['a','b','c','d'])
print(series3)

a    9
b    5
c    3
d    3
dtype: int64

In [7]:
series3 = pd.Series([9,5,3,3],index = ['a','b','c','d'],dtype = float)
print(series3)

a    9.0
b    5.0
c    3.0
d    3.0
dtype: float64

In [8]:
series3 = pd.Series([9,5,3,3],index = ['a','b','c','d'],dtype = float,name="Data Values")
print(series3)

a    9.0
b    5.0
c    3.0
d    3.0
Name: Data Values, dtype: float64

In [9]:
series5= pd.Series(0.5)
print(series5)

0    0.5
dtype: float64

In [10]:
series5= pd.Series(0.5, index= [1,2,3])
print(series5)

1    0.5
2    0.5
3    0.5
dtype: float64

In [11]:
dict_s = pd.Series({"Name":"Rahul Gaur","Age":22,"Skills":"ML"})
print(dict_s)

Name      Rahul Gaur
Age               22
Skills            ML
dtype: object

In [12]:
s4 = pd.Series([1,2,3,4,5])
print(s4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
s4[2]

3

In [14]:
s4[1:4]

1    2
2    3
3    4
dtype: int64

In [15]:
max(s4)

5

In [16]:
min(s4)

1

In [17]:
s4[s4>3]

3    4
4    5
dtype: int64

In [18]:
s5 = pd.Series([1,2,3,4,5])
print(s5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [19]:
s4+s5

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [20]:
s6 = pd.Series([1,2,3])
print(s6)

0    1
1    2
2    3
dtype: int64

In [21]:
s5+s6

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64

In [22]:
ok = pd.Series(["ok","rahul","gaur"])
print(ok)

0       ok
1    rahul
2     gaur
dtype: object

In [23]:
rahulgaur = pd.Series(["my","name","is","rahul","gaur"])
print(rahulgaur)

0       my
1     name
2       is
3    rahul
4     gaur
dtype: object